	body{
			margin-left:-960px; 
			width:1920px;
			position:relative;
			left:50%;
			overflow-x:hidden;
			font-family:"Microsoft YaHei","Songti SC", "STSong", "SimSun";
		    font: "Microsoft YaHei","Songti SC", "STSong", "SimSun";
			face: "Microsoft YaHei","Songti SC", "STSong", "SimSun";
			-moz-osx-font-smoothing: grayscale;
			-moz-font-smoothing: antialiased;
			-webkit-font-smoothing: antialiased;
			font-smoothing: antialiased;
		}
		ol{
			list-style:none;
			text-align:center;
		}
		ol li{
			list-style:none;
			float: left;
		}
		a{text-decoration: none;}
		 ::-webkit-scrollbar {WIDTH: 12px;} 
	    ::-webkit-scrollbar-track { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color: #fffaf6; } 
	    ::-webkit-scrollbar-thumb { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color: #fffaf6; } 
	    ::-o-scrollbar {WIDTH: 12px;} 
	    ::-o-scrollbar-track { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color: #fffaf6; } 
	    ::-o-scrollbar-thumb { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color: #fffaf6; } 
	    ::-moz-scrollbar {WIDTH: 12px;} 
	    ::-moz-scrollbar-track { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color:#fffaf6; } 
	    ::-moz-scrollbar-thumb { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color:#fffaf6; } 
	    ::-ms-scrollbar {WIDTH: 12px;} 
	    ::-ms-scrollbar-track { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color:#fffaf6; } 
	    ::-ms-scrollbar-thumb { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color:#fffaf6; } 
	    ::scrollbar {WIDTH: 12px;} 
	    ::scrollbar-track { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color:#fffaf6; } 
	    ::scrollbar-thumb { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color:#fffaf6; }
		.bg-flower {
	        position: absolute;
	        top: 0;
	        left: 0;
	        width:100%;
	        height:1300px;
	        background:#fffaf6;
	        overflow-x:hidden;
	    }
	    #frame{
	    	width: 100%;
	    	height: 1300px;
	    	margin: 0px auto;
	    	display: block;
	    	position: absolute;
	    	left: 0%;
	    	top:0px;
	    }
	    /*.cls-1 {
		  fill: #c2e4d8 ;
		}*/
		.bg1{
			 background-image: -webkit-gradient(linear,
                0 0, 100% 100%,
                color-stop(.25, rgba(255, 255, 255, .85)), 
                color-stop(.25, transparent),
                color-stop(.5, transparent), 
                color-stop(.5, rgba(255, 255, 255, .8)),
                color-stop(.75, rgba(255, 255, 255, .8)), 
                color-stop(.75, transparent),
                to(transparent)); 
                 background-image: -o-gradient(linear,
                0 0, 100% 100%,
                color-stop(.25, rgba(255, 255, 255, .85)), 
                color-stop(.25, transparent),
                color-stop(.5, transparent), 
                color-stop(.5, rgba(255, 255, 255, .8)),
                color-stop(.75, rgba(255, 255, 255, .8)), 
                color-stop(.75, transparent),
                to(transparent));
                 background-image: -ms-gradient(linear,
                0 0, 100% 100%,
                color-stop(.25, rgba(255, 255, 255, .85)), 
                color-stop(.25, transparent),
                color-stop(.5, transparent), 
                color-stop(.5, rgba(255, 255, 255, .8)),
                color-stop(.75, rgba(255, 255, 255, .8)), 
                color-stop(.75, transparent),
                to(transparent));
                 background-image: -moz-gradient(linear,
                0 0, 100% 100%,
                color-stop(.25, rgba(255, 255, 255, .85)), 
                color-stop(.25, transparent),
                color-stop(.5, transparent), 
                color-stop(.5, rgba(255, 255, 255, .8)),
                color-stop(.75, rgba(255, 255, 255, .8)), 
                color-stop(.75, transparent),
                to(transparent));
                 background-image: gradient(linear,
                0 0, 100% 100%,
                color-stop(.25, rgba(255, 255, 255, .85)), 
                color-stop(.25, transparent),
                color-stop(.5, transparent), 
                color-stop(.5, rgba(255, 255, 255, .8)),
                color-stop(.75, rgba(255, 255, 255, .8)), 
                color-stop(.75, transparent),
                to(transparent)); 
            background-color: #959595;
            background-size: 12px 12px; 
		}
		#cast li{
/*			background-color: #fff; 
			background-image: 
			linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
			linear-gradient(#eee .1em, transparent .1em);
			background-size: 100% 1.2em;*/
			float: left;
			height:25px;
			line-height: 25px;
			font-size: 12px;
			color: #a77364;
			width:300px;
			padding-left: 20px;
			margin-top:5px;
			text-align: center;
			box-shadow: 0px 0px 2px #fff;
			background-color: rgba(255,255,255,.6);
		}
		#cast li span{
			color: #676767;
		}
	    .ed li{
/*			background-color: #fff; 
			background-image: 
			linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
			linear-gradient(#eee .1em, transparent .1em);
			background-size: 100% 1.2em;*/
			float: left;
			height:20px;
			line-height: 20px;
			font-size: 12px;
			color: #a77364;
			width:160px;
			padding-left: 20px;
			margin-top:5px;
			text-align: right;
			border-bottom: 1px dashed rgba(255,255,255,.56);
		}
		.ed li span{
			color: #676767;
		}
		#staff li{
			color: #516087;
			background-color: rgba(235,241,255,.5);
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-o-border-radius: 5px;
			border-radius: 5px;
			border-radius: 5px;
			width: 180px;
			height: 30px;
			line-height: 30px;
			font-size:12px;
			text-align: left;
			margin: 2px;
			padding-left: 25px;
		}
		.chest {
		  height: calc(var(--height) * 1px);
		  -webkit-transform: rotateX(-30deg) rotateY(40deg);
		  -o-transform: rotateX(-30deg) rotateY(40deg);
		  -ms-transform: rotateX(-30deg) rotateY(40deg);
		  -moz-transform: rotateX(-30deg) rotateY(40deg);
		          transform: rotateX(-30deg) rotateY(40deg);
		  -webkit-transform-style: preserve-3d;
		  -o-transform-style: preserve-3d;
		  -ms-transform-style: preserve-3d;
		  -moz-transform-style: preserve-3d;
		          transform-style: preserve-3d;
		  width: calc(var(--width) * 1px);
		}
		.chest__panel {
		  height: 100%;
		  position: absolute;
		   -webkit-transform-style: preserve-3d;
		  -o-transform-style: preserve-3d;
		  -ms-transform-style: preserve-3d;
		  -moz-transform-style: preserve-3d;
		          transform-style: preserve-3d;
		  width: 100%;
		}
		.chest__panel:after {
		  content: '';
		  display: block;
		  height: 100%;
		  width: 100%;
		}
		.chest__panel--front {
		  -webkit-transform: translate3d(0, 0, calc(var(--depth) / 2 * 1px));
		  -moz-transform: translate3d(0, 0, calc(var(--depth) / 2 * 1px));
		  -ms-transform: translate3d(0, 0, calc(var(--depth) / 2 * 1px));
	      -o-transform: translate3d(0, 0, calc(var(--depth) / 2 * 1px));
		          transform: translate3d(0, 0, calc(var(--depth) / 2 * 1px));
		}
		.chest__panel--back {
		  background:rgba(84,84,82,1);
		  -webkit-transform: translate3d(0, 0, calc(var(--depth) / 2 * -1px));
		  -o-transform: translate3d(0, 0, calc(var(--depth) / 2 * -1px));
		  -ms-transform: translate3d(0, 0, calc(var(--depth) / 2 * -1px));
		  -moz-transform: translate3d(0, 0, calc(var(--depth) / 2 * -1px));
		          transform: translate3d(0, 0, calc(var(--depth) / 2 * -1px));
		}
		.chest__panel--back:after {
		  background:rgba(84,84,82,.4);
		  -webkit-transform: translate3d(0, 0, 1px);
		   -o-transform: translate3d(0, 0, 1px);
		   -ms-transform: translate3d(0, 0, 1px);
		   -moz-transform: translate3d(0, 0, 1px);
		          transform: translate3d(0, 0, 1px);
		}
		.chest__panel--top {
		  background: rgba(84,84,82,1);
		  bottom: 100%;
		  height: calc(var(--depth) * 1px);
		  left: 0;
		  -webkit-transform: rotateX(90deg) translate3d(0, 50%, 1px);
		  -moz-transform: rotateX(90deg) translate3d(0, 50%, 1px);
		  -ms-transform: rotateX(90deg) translate3d(0, 50%, 1px);
	      -o-transform: rotateX(90deg) translate3d(0, 50%, 1px);
		          transform: rotateX(90deg) translate3d(0, 50%, 1px);
		  -webkit-transform-origin: bottom;
		  -o-transform-origin: bottom;
		  -ms-transform-origin: bottom;
		  -moz-transform-origin: bottom;
		          transform-origin: bottom;
		  -webkit-transform-style: preserve-3d;
		  -o-transform-style: preserve-3d;
		  -ms-transform-style: preserve-3d;
		  -moz-transform-style: preserve-3d;
		          transform-style: preserve-3d;
		}
		.chest__panel--top:after {
		  background: rgba(84,84,82,.4);
		  -webkit-transform: translate3d(0, 0, -1px);
		   -o-transform: translate3d(0, 0, -1px);
		    -ms-transform: translate3d(0, 0, -1px);
		     -moz-transform: translate3d(0, 0, -1px);
		          transform: translate3d(0, 0, -1px);
		}
		.chest__panel--bottom {
		  background:rgba(84,84,82,.64);
		  height: calc(var(--depth) * 1px);
		  left: 0;
		  top: 100%;
		  -webkit-transform: translateY(-50%) rotateX(90deg);
		  -moz-transform: translateY(-50%) rotateX(90deg);
		  -ms-transform: translateY(-50%) rotateX(90deg);
		  -o-transform: translateY(-50%) rotateX(90deg);
		          transform: translateY(-50%) rotateX(90deg);
		}
		.chest__panel--bottom:after {
		  background: rgba(84,84,82,.9);;
		  -webkit-transform: translate3d(0, 0, 1px);
		  -moz-transform: translate3d(0, 0, 1px);
		  -ms-transform: translate3d(0, 0, 1px);
	      -o-transform: translate3d(0, 0, 1px);
		          transform: translate3d(0, 0, 1px);
		}
		.chest__panel--right {
		  background: rgba(84,84,82,.4);
		  right: 0;
		  -webkit-transform: translate3d(0, 0, calc(var(--depth) / 2 * 1px)) rotateY(-90deg);
		  -o-transform: translate3d(0, 0, calc(var(--depth) / 2 * 1px)) rotateY(-90deg);
		  -ms-transform: translate3d(0, 0, calc(var(--depth) / 2 * 1px)) rotateY(-90deg);
		  -moz-transform: translate3d(0, 0, calc(var(--depth) / 2 * 1px)) rotateY(-90deg);
		          transform: translate3d(0, 0, calc(var(--depth) / 2 * 1px)) rotateY(-90deg);
		  -webkit-transform-origin: right center;
		  -moz-transform-origin: right center;
		  -ms-transform-origin: right center;
		  -o-transform-origin: right center;
		          transform-origin: right center;
		  width: calc(var(--depth) * 1px);
		}
		.chest__panel--right:after {
		   background: rgba(84,84,82,.86);
		  -webkit-transform: translate3d(0, 0, 1px);
		  -moz-transform: translate3d(0, 0, 1px);
		  -ms-transform: translate3d(0, 0, 1px);
	      -o-transform: translate3d(0, 0, 1px);
		          transform: translate3d(0, 0, 1px);
		}
		.chest__panel--left {
		  width: calc(var(--depth) * 1px);
		  left: 0;
		    background: rgba(84,84,82,.86);
		  -webkit-transform-origin: left center;
		  -o-transform-origin: left center;
		  -ms-transform-origin: left center;
	      -moz-transform-origin: left center;
		          transform-origin: left center;
		          -o-transform-origin: left center;
		          -webkit-transform-origin: left center;
		          -ms-transform-origin: left center;
		          -moz-transform-origin: left center;
		  -webkit-transform: translate3d(0, -1px, calc(var(--depth) / 2 * 1px)) rotateY(90deg);
		   -o-transform: translate3d(0, -1px, calc(var(--depth) / 2 * 1px)) rotateY(90deg);
		    -ms-transform: translate3d(0, -1px, calc(var(--depth) / 2 * 1px)) rotateY(90deg);
		     -moz-transform: translate3d(0, -1px, calc(var(--depth) / 2 * 1px)) rotateY(90deg);
		          transform: translate3d(0, -1px, calc(var(--depth) / 2 * 1px)) rotateY(90deg);
		}
		.chest__panel--left:after {
		    background: rgba(138,130,127,.85);
		  -webkit-transform: translate3d(0, 0, 1px);
		  -o-transform: translate3d(0, 0, 1px);
		  -ms-transform: translate3d(0, 0, 1px);
		  -moz-transform: translate3d(0, 0, 1px);
		          transform: translate3d(0, 0, 1px);
		}
		.chest-drawer {
		  height: calc(var(--drawerSize) * 1px);
		  left: 0;
		  position: absolute;
		  top: 0;
		  transition: -webkit-transform 0.25s;
		  transition: transform 0.25s;
		  -webkit-transition: transform 0.25s, -webkit-transform 0.25s;
		  -o-transition: transform 0.25s, -o-transform 0.25s;
		  -ms-transition: transform 0.25s, -ms-transform 0.25s;
		  -moz-transition: transform 0.25s, -moz-transform 0.25s;
		  -webkit-transform-style: preserve-3d;
		  -o-transform-style: preserve-3d;
		  -ms-transform-style: preserve-3d;
		  -moz-transform-style: preserve-3d;
		          transform-style: preserve-3d;
		  width: 100%;
		}
		.chest-drawer--top,
		.chest-drawer--middle,
		.chest-drawer--bottom {
		  -webkit-transform: translate3d(0, 0, calc(var(--depth) * 0.51px));
		    -o-transform: translate3d(0, 0, calc(var(--depth) * 0.51px));
		      -ms-transform: translate3d(0, 0, calc(var(--depth) * 0.51px));
		        -moz-transform: translate3d(0, 0, calc(var(--depth) * 0.51px));
		          transform: translate3d(0, 0, calc(var(--depth) * 0.51px));
		}
		.chest-drawer--top {
		  top: 5px;
		  z-index: 3;
		}
		.chest-drawer--middle {
		  top: calc((var(--drawerSize) + 10) * 1px);
		  z-index: 2;
		}
		.chest-drawer--bottom {
		  top: calc((var(--drawerSize) * 2 + 15) * 1px);
		  z-index: 1;
		}
		.chest-drawer i,
		.chest-drawer p {
		    background: rgba(138,130,127,.68);
		  cursor: pointer;
		  height: 100%;
		  left: 0;
		  list-style: none;
		  position: absolute;
		  outline: 0;
		  top: 0;
		  transition: -webkit-transform 0.25s;
		  transition: transform 0.25s;
		  -webkit-transition: transform 0.25s, -webkit-transform 0.25s;
		  -o-transition: transform 0.25s, -o-transform 0.25s;
		  -ms-transition: transform 0.25s, -ms-transform 0.25s;
		  -moz-transition: transform 0.25s, -moz-transform 0.25s;
		  -webkit-transform: translate3d(0, 0, 0);
		    -o-transform: translate3d(0, 0, 0);
		      -ms-transform: translate3d(0, 0, 0);
		        -moz-transform: translate3d(0, 0, 0);
		          transform: translate3d(0, 0, 0);
		  width: 100%;
		}
		.chest-drawer i:after,
		.chest-drawer p:after {
		  background: #fff;
		  content: '';
		  height: 5%;
		  left: 50%;
		  position: absolute;
		  top: 10%;
		  -webkit-transform: translate(-50%, 0);
		  -o-transform: translate(-50%, 0);
		  -ms-transform: translate(-50%, 0);
		  -moz-transform: translate(-50%, 0);
		          transform: translate(-50%, 0);
		  width: 40%;
		}
		.chest-drawer i::-webkit-details-marker,
		.chest-drawer section::-webkit-details-marker {
		  display: none;
		}
		.chest-drawer i:hover:not([open]) {
		  -webkit-transform: translate3d(0, 0, calc(var(--depth) * 0.05px));
		  -o-transform: translate3d(0, 0, calc(var(--depth) * 0.05px));
		  -ms-transform: translate3d(0, 0, calc(var(--depth) * 0.05px));
		  -moz-transform: translate3d(0, 0, calc(var(--depth) * 0.05px));
		          transform: translate3d(0, 0, calc(var(--depth) * 0.05px));
		}
		.chest-drawer i[open],
		.chest-drawer i[open] ~ .chest-drawer__structure {
		  -webkit-transform: translate3d(0, 0, calc(var(--depth) * 0.9px));
		  -o-transform: translate3d(0, 0, calc(var(--depth) * 0.9px));
		  -ms-transform: translate3d(0, 0, calc(var(--depth) * 0.9px));
		  -moz-transform: translate3d(0, 0, calc(var(--depth) * 0.9px));
		          transform: translate3d(0, 0, calc(var(--depth) * 0.9px));
		}
		.chest-drawer__panel {
		  height: 100%;
		  position: absolute;
		  -webkit-transform-style: preserve-3d;
		  -o-transform-style: preserve-3d;
		  -ms-transform-style: preserve-3d;
		  -moz-transform-style: preserve-3d;
		          transform-style: preserve-3d;
		  width: 100%;
		}
		.chest-drawer__panel--left {
		   background: rgba(84,84,82,.64);
		  bottom: 0;
		  height: calc(var(--drawerHole) * 0.65px);
		  left: 10px;
		  -webkit-transform: translate3d(0, -16px, -2px) rotateY(90deg);
		  -o-transform: translate3d(0, -16px, -2px) rotateY(90deg);
		  -ms-transform: translate3d(0, -16px, -2px) rotateY(90deg);
		  -moz-transform: translate3d(0, -16px, -2px) rotateY(90deg);
		          transform: translate3d(0, -16px, -2px) rotateY(90deg);
		  -webkit-transform-origin: left;
		  -o-transform-origin: left;
		  -ms-transform-origin: left;
		  -moz-transform-origin: left;
		          transform-origin: left;
		  width: calc(var(--depth) * 1px);
		}
		.chest-drawer__panel--right {
		  background: rgba(84,84,82,.64);
		  bottom: 0;
		  height: calc(var(--drawerHole) * 0.65px);
		  right: 10px;
		  -webkit-transform: translate3d(0, -16px, -2px) rotateY(-90deg);
		  -o-transform: translate3d(0, -16px, -2px) rotateY(-90deg);
		  -ms-transform: translate3d(0, -16px, -2px) rotateY(-90deg);
		  -moz-transform: translate3d(0, -16px, -2px) rotateY(-90deg);
		          transform: translate3d(0, -16px, -2px) rotateY(-90deg);
		  -webkit-transform-origin: right;
		  -o-transform-origin: right;
		  -ms-transform-origin: right;
		  -moz-transform-origin: right;
		          transform-origin: right;
		  width: calc((var(--depth) - 3) * 1px);
		}
		.chest-drawer__panel--bottom {
		  background: #fff;
		  bottom: 18px;
		  height: calc(var(--depth) * 1px);
		  left: 10px;
		  -webkit-transform: rotateX(90deg) translate3d(0, -2px, 0);
		  -o-transform: rotateX(90deg) translate3d(0, -2px, 0);
		  -ms-transform: rotateX(90deg) translate3d(0, -2px, 0);
		  -moz-transform: rotateX(90deg) translate3d(0, -2px, 0);
		          transform: rotateX(90deg) translate3d(0, -2px, 0);
		  -webkit-transform-origin: bottom center;
		   -o-transform-origin: bottom center;
		    -ms-transform-origin: bottom center;
		     -moz-transform-origin: bottom center;
		          transform-origin: bottom center;
		  width: calc(100% - (2px * 10));
		}
		.chest-drawer__panel--back {
		  align-items: center;
		  background: rgba(84,84,82,.74);
		  bottom: 16px;
		  display: flex;
		  font-family: 'Arial', sans-serif;
		  font-size: calc(var(--drawerHole) * 0.35px);
		  font-weight: bold;
		  height: calc(var(--drawerHole) * 0.65px);
		  justify-content: center;
		  left: 10px;
		  -webkit-transform: translate3d(0, 0, calc((var(--depth) - 2) * -1px));
		  -o-transform: translate3d(0, 0, calc((var(--depth) - 2) * -1px));
		  -moz-transform: translate3d(0, 0, calc((var(--depth) - 2) * -1px));
		  -ms-transform: translate3d(0, 0, calc((var(--depth) - 2) * -1px));
		          transform: translate3d(0, 0, calc((var(--depth) - 2) * -1px));
		  width: calc(100% - (2px * 10));
		}
		.chest-drawer__structure {
		  height: 100%;
		  left: 0;
		  position: absolute;
		  top: 0;
		  -webkit-transform-style: preserve-3d;
		  -o-transform-style: preserve-3d;
		  -moz-transform-style: preserve-3d;
		  -ms-transform-style: preserve-3d;
		          transform-style: preserve-3d;
		  transition: -webkit-transform 0.25s;
		  transition: transform 0.25s;
		  transition: transform 0.25s, -webkit-transform 0.25s;
		  width: 100%;
		}
		:root {
		  --height: 300;
		  --width: 200;
		  --depth: 150;
		  --drawerSize: calc((var(--height) / 3) - 10);
		  --drawerHole: calc((var(--height) - ((10 * 4) + (10 + 30))) / 3);
		}
		.title {
		  margin: 0;
		  font-family: inherit;
		  font-weight: normal;
		  line-height:1.2;
		  text-rendering: optimizelegibility;
		  font-family: "Sancreek", cursive;
		  position:absolute;
		  top:0px;
		  font-size: 26px;
		  left: 20px;
		  z-index: 3;
		  color: #545452;
		}
		.title2 {
		  margin: 0;
		  font-family: inherit;
		  font-weight: normal;
		  line-height:1.2;
		  text-rendering: optimizelegibility;
		  font-family: "Sancreek", cursive;
		  position:absolute;
		  top:4px;
		  font-size: 26px;
		  left: 65px;
		  z-index: 3;
		  color: #545452;
		}
		.card {
		  width: 400px;
		  min-width: 400px;
		  height: 600px;
		  position: absolute;
		  top:30px;
		  left: 50%;
		  background: rgba(255,255,255,.6);
		}
	    .card * {
		  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
		  -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
		  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
		  -ms-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
		  -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
		} 
    	.card h1, .card a {
		  position: absolute;
		  right: 30px;
		  z-index: 9;
		  color: #fff;
		  font-size: 18px;
		  font-family: "Sancreek", cursive;
		  margin: 0;
		  top: 0;
		  line-height: 15px;
		  height: 15px;
		  -webkit-transform: scale(0) rotateX(180deg);
		  -moz-transform: scale(0) rotateX(180deg);
		  -ms-transform: scale(0) rotateX(180deg);
		  -o-transform: scale(0) rotateX(180deg);
		          transform: scale(0) rotateX(180deg);
		  opacity: 0;
		  background-color:#eeb598;
		}
	    .card a {
		  color: #fff;
		  font-size: 14px;
		  bottom: 50px;
		  top: auto;
		  width: 50%;
		  display: block;
		  text-align: center;
		  letter-spacing: 5px;
		  text-transform: uppercase;
		  font-weight: 900;
		  padding: 15px 5px;
		  border: 2px solid #fff;
		  cursor: pointer;
		  left: -80px;
		  opacity: 1;
		  -webkit-transform: none;
		   -o-transform: none;
		    -ms-transform: none;
		     -moz-transform: none;
		          transform: none;
		 /* height: 12.5px;
		  line-height: 12.5px;*/
		}
	    .card input[type="checkbox"] {
		  z-index: 999;
		  position: absolute;
		  bottom: 50px;
		  width: 50%;
		  left: -50px;
		  height: 50px;
		  opacity: 0;
		}
	    .card input[type="checkbox"]:checked ~ a {
		  z-index: 100;
		  color: #fff;
		  font-size: 0;
		}
	    .card input[type="checkbox"]:checked ~ a:before {
		  opacity: 1;
		  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
		   -o-transform: translateX(-50%) translateY(-50%) scale(1);
		    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
		     -ms-transform: translateX(-50%) translateY(-50%) scale(1);
		          transform: translateX(-50%) translateY(-50%) scale(1);
		}
	    .card:before {
		  content: '';
		  position: absolute;
		  left: 0;
		  top: 0;
		  width: 100%;
		  height: 100%;
		  background: transparent;
		  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
		  z-index: 200;
		}
	    .card .blob .glob {
		  position: absolute;
		  width: 400px;
		  height: 600px;
		  top: 0%;
		  left: 0%;
		  background-color:rgba(84,84,82,.24);
		}
		#link td{border-top: 1px solid #C0C0C0;border-bottom: 1px solid #C0C0C0;WIDTH: 100%;font-size: 12px; color: #292929;text-align: center;z-index: 130;}
		#link td span{WIDTH: 100%;font-size: 12px;color: #6C6C6C;}
		#link td a{WIDTH: 100%;font-size: 12px; dcolor: #6C6C6C;}
		#link td:hover{background-color: rgba(180,180,180,.2);transition:all 1s linear;-webkit-transition:all 1s linear;-o-transition:all 1s linear;-moz-transition:all 1s linear;-ms-transition:all 1s linear;-o-transition:all 1s linear;}
		.titles h1 {
		  font-size: 95px;
		  width: 100px;
		  line-height: 100px;
		  text-align: top;
		  letter-spacing: 0;
		  padding: .25em 0 .325em;
		  display: block;
		  margin: 0 auto;
		  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
		  -o-text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
		  -webkit-text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
		  -moz-text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
		  -ms-text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
		  /* Clip Background Image */
		  background: url(http://www.jq22.com/tp/6367654292305515361482753.png) repeat-y;
		  -webkit-background-clip: text;
		  -o-background-clip: text;
		  -ms-background-clip: text;
		  -moz-background-clip: text;
		  background-clip: text;
		  /* Animate Background Image */
		  -webkit-text-fill-color: transparent;
		  -webkit-animation: aitf 80s linear infinite;
		  /* Activate hardware acceleration for smoother animations */
		  -webkit-transform: translate3d(0, 0, 0);
		  -webkit-backface-visibility: hidden;
		  -o-text-fill-color: transparent;
		  -o-animation: aitf 80s linear infinite;
		  /* Activate hardware acceleration for smoother animations */
		  -o-transform: translate3d(0, 0, 0);
		  -o-backface-visibility: hidden;
		  -ms-text-fill-color: transparent;
		  -ms-animation: aitf 80s linear infinite;
		  /* Activate hardware acceleration for smoother animations */
		  -ms-transform: translate3d(0, 0, 0);
		  -ms-backface-visibility: hidden;
		  -moz-text-fill-color: transparent;
		  -moz-animation: aitf 80s linear infinite;
		  /* Activate hardware acceleration for smoother animations */
		  -moz-transform: translate3d(0, 0, 0);
		  -moz-backface-visibility: hidden;
		  text-fill-color: transparent;
		  animation: aitf 80s linear infinite;
		  /* Activate hardware acceleration for smoother animations */
		  transform: translate3d(0, 0, 0);
		  backface-visibility: hidden;
		  text-fill-color: transparent;
		  -o-text-fill-color: transparent;
		  -webkit-text-fill-color: transparent;
		  -moz-text-fill-color: transparent;
		  -ms-text-fill-color: transparent;
		  /* Activate hardware acceleration for smoother animations */
		  transform: translate3d(0, 0, 0);
		  -o-transform: translate3d(0, 0, 0);
		  -webkit-transform: translate3d(0, 0, 0);
		  -ms-transform: translate3d(0, 0, 0);
		  -moz-transform: translate3d(0, 0, 0);
		  backface-visibility: hidden;
		  font-family:'Gyoseki-Gyosho15a2c984fa17f4f';
		  font:'Gyoseki-Gyosho15a2c984fa17f4f';
		  face:'Gyoseki-Gyosho15a2c984fa17f4f';
		  -webkit-transform-style: preserve-3d;
		  -moz-transform-style: preserve-3d;
		  transform-style: preserve-3d;
		  -o-transform-style: preserve-3d;
		  transform-style: preserve-3d;
		  -webkit-perspective: 500;
		  -moz-perspective: 500;
		  -o-perspective: 500;
		  -ms-perspective: 500;
		  perspective: 500;
		  -webkit-transform: rotateY(-20deg);
          -moz-transform: rotateY(-20deg);
          -ms-transform: rotateY(-20deg);
    	  transform: rotateY(-20deg);
    	  -o-transform: rotateY(-20deg);
		}

		/* Animate Background Image */
		@-webkit-keyframes aitf {
		  0% {
		    background-position: 0% 50%;
		  }
		  100% {
		    background-position: 100% 50%;
		  }
		}
		@-o-keyframes aitf {
		  0% {
		    background-position: 0% 50%;
		  }
		  100% {
		    background-position: 100% 50%;
		  }
		}
		@-ms-keyframes aitf {
		  0% {
		    background-position: 0% 50%;
		  }
		  100% {
		    background-position: 100% 50%;
		  }
		}
		@-moz-keyframes aitf {
		  0% {
		    background-position: 0% 50%;
		  }
		  100% {
		    background-position: 100% 50%;
		  }
		}
		@keyframes aitf {
		  0% {
		    background-position: 0% 50%;
		  }
		  100% {
		    background-position: 100% 50%;
		  }
		}
		.container{position: absolute;top:0px;left: 32%; }
		.container img{width: 280px; padding: 10px; border: 1px solid #ccc; box-shadow:2px 2px 3px rgba(50,50,50,.4); position: absolute; z-index: 1; background: #fff; }
		.container img:nth-child(1){
			left: 0px;
			top:0px;
			-webkit-transform:rotate(-5deg);
			-ms-transform:rotate(-5deg);
			-o-transform:rotate(-5deg);
			-moz-transform:rotate(-5deg);
			transform:rotate(-5deg);
		}
		.container img:nth-child(2){
			left: 46px;
			top: 0px;
			-webkit-transform:rotate(4deg);
			-ms-transform:rotate(4deg);
			-o-transform:rotate(4deg);
			-moz-transform:rotate(4deg);
			transform:rotate(4deg);
		}
		.container img:hover{
			-webkit-transform:rotate(0deg) scale(1.1);
			-ms-transform:rotate(0deg) scale(1.1);
			-o-transform:rotate(0deg) scale(1.1);
			-moz-transform:rotate(0deg) scale(1.1);
			transform:rotate(0deg) scale(1.1);
			-webkit-transition:all 0.5s ease-in;
			-o-transition:all 0.5s ease-in;
			-moz-transition:all 0.5s ease-in;
			-ms-transition:all 0.5s ease-in;
			transition:all 0.5s ease-in;
			z-index: 2;
		}
		.card i:nth-child(2){
			display:none;
			font-size: 14px;
			font-style:normal;
		}
		.card:hover i:nth-child(2){
			display:block;
			cursor:pointer;
			font-size: 14px;
			font-style:normal;
		}
		.card i:nth-child(1){
			display:block;
			font-size: 14px;
			font-style:normal;
		}
		.card:hover i:nth-child(1){
			display:none;
			cursor:pointer;
			font-size: 14px;
			font-style:normal;
		}