body{
			margin-left:-960px; 
			width:1920px;
			position:relative;
			left:50%;
			overflow-x:hidden;
		}
		@font-face {
		  font-family: 'HYJKJ';
		  src: url('https://chengjiaoyuan.github.io/Aning/Font/HYJKJ/HYJKJ.eot'); /* IE9*/
		  src: url('https://chengjiaoyuan.github.io/Aning/Font/HYJKJ/HYJKJ.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		  url('https://chengjiaoyuan.github.io/Aning/Font/HYJKJ/HYJKJ.woff') format('woff'), /* chrome、firefox */
		  url('https://chengjiaoyuan.github.io/Aning/Font/HYJKJ/HYJKJ.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
		  url('https://chengjiaoyuan.github.io/Aning/Font/HYJKJ/HYJKJ.svg#HYJKJ') format('svg'); /* iOS 4.1- */
		  font-weight: normal;
		  font-style: normal;
		  color:#fff;
		}
		ol{
			list-style:none;
			text-align:center;
		}
		ol li{
			list-style:none;
			float: left;
		}
		a{text-decoration: none;}
		 ::-webkit-scrollbar {WIDTH: 12px;} 
	    ::-webkit-scrollbar-track { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color: #fff; } 
	    ::-webkit-scrollbar-thumb { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color: #15181e;} 
	    ::-o-scrollbar {WIDTH: 12px;} 
	    ::-o-scrollbar-track { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color: #fff; } 
	    ::-o-scrollbar-thumb { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color: #15181e; } 
	    ::-moz-scrollbar {WIDTH: 12px;} 
	    ::-moz-scrollbar-track { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color:#fff; } 
	    ::-moz-scrollbar-thumb { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color:#15181e; } 
	    ::-ms-scrollbar {WIDTH: 12px;} 
	    ::-ms-scrollbar-track { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color:#fff; } 
	    ::-ms-scrollbar-thumb { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color:#15181e;} 
	    ::scrollbar {WIDTH: 12px;} 
	    ::scrollbar-track { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color:#fff; } 
	    ::scrollbar-thumb { border-radius: 10px;-o-border-radius: 10px;-webkit-border-radius: 10px;-ms-border-radius: 10px;-moz-border-radius: 10px; background-color:#15181e; }
		.bg-flower {
	        position: absolute;
	        top: 0;
	        left: 0;
	        width:100%;
	        height:1385px;
	        background:#4d3f36;
	        overflow-x:hidden;
	    }
	    #frame1{
	    	width: 100%;
	    	height: 685px;
	    	margin: 0px auto;
	    	position: absolute;
	    	top:0%;
	    	left: 0%;
	    	background:#15181e url('https://chengjiaoyuan.github.io/Aning/PinkCode/%E7%BB%9D%E5%AF%B9%E7%9B%AE%E6%A0%87/%E4%BA%BA%E7%89%A9.png') no-repeat center center;
	    	background-size: 1000px 685px;
	    }
	    #frame2{
	    	width: 100%;
	    	height: 700px;
	    	margin: 0px auto;
	    	position: absolute;
	    	top:600px;
	    	left: 0px;
	    	background: #4d3f36;
	    }
	     #cls-1 {
	    	background-color: #9da9b4;
			background-image: linear-gradient(rgba(255,255,255,.8) 2px, transparent 0),
		                  linear-gradient(90deg, rgba(255,255,255,.8) 2px, transparent 0),
		                  linear-gradient(hsla(0,0%,100%,.3) 1px, transparent 0),
		                  linear-gradient(90deg, hsla(0,0%,100%,.3) 2px, transparent 0);
		background-size: 30px 30px;

		}
		.circular {
			width: 350px;
			height: 350px;
			margin: 35px auto 0;
		}

		.circular svg {
			display: block;
			overflow: visible;
		}

		.circular path{
			fill: none;
		}
		.circular svg text{
			font-size: 15px;
			color: #fff;
			fill: #fff;
			font-family: 'HYJKJ';
			font:'HYJKJ';
			face:'HYJKJ';
		}
		#cast{
			position: relative;
			left: -30px;
			top:-15px;
		}
		#cast li{
			float: left;
			height:20px;
			line-height: 20px;
			font-size: 12px;
			color: #e5b27b;
			width:265px;
			margin-top:3px;
			text-align: center;
			border-bottom: 1px dashed #ccc;
		}
		#cast li span{
			color: #676767;
		}
	    .ed li{
			float: left;
			height:20px;
			line-height: 20px;
			font-size: 12px;
			color: #a77364;
			width:160px;
			padding-left: 20px;
			margin-top:5px;
			text-align: right;
			border-bottom: 1px dashed rgba(255,255,255,.56);
		}
		.ed li span{
			color: #676767;
		}
		.timeline {
			position: relative;
			list-style-type: none;
			padding: 30px 0 50px 0;
			font-family: 'Gorditas', Arial, sans-serif;
		}

		.timeline:before {
			content: '';
			position: absolute;
			width: 5px;
			height: 100%;
			top: 0;
			left: 165px;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJUlEQVQIW2NkQAP/gYARWQwkAOLDBeECjEAAkkEWAKtEFwAJAgAZEBP+oM1IkwAAAABJRU5ErkJggg==);
		}
		.event {
			position: relative;
			margin-bottom: 80px;
			padding-right: 40px;
		}

		.thumb {
			position: absolute;
			width: 100px;
			height: 100px;
			box-shadow: 
				0 0 0 8px rgba(212,157,136,1), 
				0 1px 1px rgba(255,255,255,0.5);
			background: no-repeat;
			-webkit-transform: scale(0.8) translateX(24px);
			-moz-transform: scale(0.8) translateX(24px);
			-o-transform: scale(0.8) translateX(24px);
			-ms-transform: scale(0.8) translateX(24px);
			transform: scale(0.8) translateX(24px);
			border-radius: 50%;
			-o-border-radius: 50%;
			-webkit-border-radius: 50%;
			-ms-border-radius: 50%;
			-moz-border-radius: 50%;
			background:url("https://chengjiaoyuan.github.io/Aning/PinkCode/%E7%9C%BC%E7%9C%8B%E5%BF%83%E5%8B%BF%E5%8A%A8/icon1.png") no-repeat center center;
		}

		.thumb span {
			color: #e5b27b; 
			width: 100%;
			text-align: center;
			font-weight: 700;
			font-size: 14px;
			text-transform: uppercase;
			position: absolute;
			bottom: -32px;
			left: 0px;
			font-family:'HtWangNewArt-Se15accc298317f4f';
			font:'HtWangNewArt-Se15accc298317f4f';
			face:'HtWangNewArt-Se15accc298317f4f';
		}

		.thumb user-1{
			width: 100px;
			height: 100px;
			border-radius: 50%;
			-o-border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border: 5px solid #e5b27b;
			-ms-border-radius: 50%;
		}
		.event label,
		.event input[type="radio"] {
			width: 24px;
			height: 24px;
			left: 158px;
			top: 36px;
			position: absolute;
			display: block;
			border: 5px solid #ccc;
			border-radius: 50%;
			-o-border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			z-index: 200;
		}

		.event input[type="radio"] {
			opacity: 0;
			z-index: 10;
			cursor: pointer;
		}

		.event label:after {
			font-family: 'fontawesome-selected';
			content: '\2605';
			background: #fff;
			border-radius: 50%;
			color: #e5b27b;
			font-size: 26px;
			height: 100%;
			width: 100%;
			left: 0px;
			top: 0px;
			line-height: 24px;
			position: absolute;
			text-align: center;
			z-index: 200;
		}

		.content-perspective {
			margin-left: 230px;
			position: relative;
			-webkit-perspective: 600px;
			-moz-perspective: 600px;
			-o-perspective: 600px;
			-ms-perspective: 600px;
			perspective: 600px;
		}

		.content-perspective:before {
			content: '';
			width: 37px;
			left: -51px;
			top: 45px;
			position: absolute;
			height: 1px;
			z-index: -1;
			background: #fff;
		}

		.content {
			-webkit-transform: rotateY(-6deg);
			-moz-transform: rotateY(-6deg);
			-o-transform: rotateY(-6deg);
			-ms-transform: rotateY(-6deg);
			transform: rotateY(-6deg);

			-webkit-transform-origin: 0 0;
			-moz-transform-origin: 0 0;
			-o-transform-origin: 0 0;
			-ms-transform-origin: 0 0;
			transform-origin: 0 0;

			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			-ms-transform-style: preserve-3d;
			-o-transform-style: preserve-3d;
			transform-style: preserve-3d;
		}

		.content-inner {
			width: 260px;
			height: 220px;
			position: relative;
			left: -25px;
			padding: 20px;
			color: #333;
			border: none;
			border-left: 5px solid #e5b27b;
			box-shadow: 0 4px 6px rgba(0,0,0,0.1);
			background: #fff;
		}

		.content-inner h3 {
			font-size: 15px;
			padding: 5px 0 5px 0;
			color: #fff;
		}

		.content-inner p {
			font-size: 18px;
			max-height: 0px;
			overflow: hidden;
			color: transparent;
			color: rgba(0,0,0,0);
			text-align: left;
		}

		.content-inner:before {
			font-family: 'fontawesome-selected';
			content: '\25c2';
			font-weight: normal;
			font-size: 54px;
			line-height: 54px;
			position: absolute;
			width: 30px;
			height: 30px;
			color: #e5b27b;
			left: -22px;
			top: 19px;
			z-index: -1;
		}

		.thumb,
		.thumb span,
		.content-inner h3 {
			-webkit-transition: all 0.6s ease-in-out 0.2s;
			-moz-transition: all 0.6s ease-in-out 0.2s;
			-o-transition: all 0.6s ease-in-out 0.2s;
			-ms-transition: all 0.6s ease-in-out 0.2s;
			transition: all 0.6s ease-in-out 0.2s;
		}

		.content-inner {
			-webkit-transition: box-shadow 0.8s linear 0.2s;
			-moz-transition: box-shadow 0.8s linear 0.2s;
			-o-transition: box-shadow 0.8s linear  0.2s;
			-ms-transition: box-shadow 0.8s linear 0.2s;
			transition: box-shadow 0.8s linear 0.2s;
		}

		.content {
			-webkit-transition: -webkit-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
			-moz-transition: -moz-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
			-o-transition: -o-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
			-ms-transition: -ms-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
			transition: transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
		}

		.content-inner p {
			-webkit-transition: max-height 0.5s linear, color 0.3s linear;
			-moz-transition: max-height 0.5s linear, color 0.3s linear;
			-o-transition: max-height 0.5s linear, color 0.3s linear;
			-ms-transition: max-height 0.5s linear, color 0.3s linear;
			transition: max-height 0.5s linear, color 0.3s linear;
		}
		.event input[type="radio"] + label:after {
			content: '\2714';
			color: #e5b27b;
			box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.8);
		}
		.thumb2 span {
			color: #cccccc; 
			width: 100%;
			text-align: center;
			font-weight: 700;
			font-size: 15px;
			text-transform: uppercase;
			position: absolute;
			bottom: -42px;
			left: 0px;
			/*font-family:'HtWangNewArt-Se15accc298317f4f';
			font:'HtWangNewArt-Se15accc298317f4f';
			face:'HtWangNewArt-Se15accc298317f4f';*/
		}

		.thumb2 user-1{
			width: 100px;
			height: 100px;
			border-radius: 50%;
			-o-border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border: 5px solid #e5b27b;
			-ms-border-radius: 50%;
		}
		.event2 label,
		.event2 input[type="radio"] {
			width: 24px;
			height: 24px;
			right: 158px;
			top: 32px;
			position: absolute;
			display: block;
			border: 5px solid #ccc;
			border-radius: 50%;
			-o-border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
		}

		.event2 input[type="radio"] {
			opacity: 0;
			z-index: 10;
			cursor: pointer;
		}

		.event2 label:after {
			font-family: 'fontawesome-selected';
			content: '\2714';
			background: #fff;
			border-radius: 50%;
			-o-border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			color: #e5b27b;
			font-size: 26px;
			height: 100%;
			width: 100%;
			right: 0px;
			bottom: 0px;
			line-height: 24px;
			position: absolute;
			text-align: center;
		}


		.content-perspective2 {
			margin-right: 230px;
			position: relative;
			-webkit-perspective: 600px;
			-moz-perspective: 600px;
			-o-perspective: 600px;
			-ms-perspective: 600px;
			perspective: 600px;
		}

		.content-perspective2:before {
			content: '';
			width: 37px;
			right: -45px;
			top: 45px;
			position: absolute;
			height: 1px;
			z-index: -1;
			background: #fff;
		}

		.content2 {
			-webkit-transform: rotateY(6deg);
			-moz-transform: rotateY(6deg);
			-o-transform: rotateY(6deg);
			-ms-transform: rotateY(6deg);
			transform: rotateY(6deg);

			-webkit-transform-origin: 0 0;
			-moz-transform-origin: 0 0;
			-o-transform-origin: 0 0;
			-ms-transform-origin: 0 0;
			transform-origin: 0 0;

			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			-ms-transform-style: preserve-3d;
			-o-transform-style: preserve-3d;
			transform-style: preserve-3d;
		}

		.content-inner2 {
			width: 280px;
			height: 260px;
			position: relative;
			left: 25px;
			padding: 20px;
			color: #333;
			border: none;
			border-right: 5px solid #e5b27b;
			box-shadow: 0 4px 6px rgba(0,0,0,0.1);
			background: #fff;
		}

		.content-inner2 h3 {
			font-size: 15px;
			padding: 5px 0 5px 0;
			color: #fff;
		}

		.content-inner2 p {
			font-size: 18px;
			max-height: 0px;
			overflow: hidden;
			color: transparent;
			color: rgba(0,0,0,0);
			text-align: left;
		}

		.content-inner2:before {
			font-family: 'fontawesome-selected';
			content: '\25BA';
			font-weight: normal;
			font-size: 34px;
			line-height: 34px;
			position: absolute;
			width: 30px;
			height: 30px;
			color: #e5b27b;
			right: -22px;
			top: 19px;
			z-index: -1;
		}

		/* Transitions */

		.thumb2,
		.thumb2 span,
		.content-inner2 h3 {
			-webkit-transition: all 0.6s ease-in-out 0.2s;
			-moz-transition: all 0.6s ease-in-out 0.2s;
			-o-transition: all 0.6s ease-in-out 0.2s;
			-ms-transition: all 0.6s ease-in-out 0.2s;
			transition: all 0.6s ease-in-out 0.2s;
		}

		.content-inner2 {
			-webkit-transition: box-shadow 0.8s linear 0.2s;
			-moz-transition: box-shadow 0.8s linear 0.2s;
			-o-transition: box-shadow 0.8s linear  0.2s;
			-ms-transition: box-shadow 0.8s linear 0.2s;
			transition: box-shadow 0.8s linear 0.2s;
		}

		.content2 {
			-webkit-transition: -webkit-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
			-moz-transition: -moz-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
			-o-transition: -o-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
			-ms-transition: -ms-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
			transition: transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
		}

		.content-inner2 p {
			-webkit-transition: max-height 0.5s linear, color 0.3s linear;
			-moz-transition: max-height 0.5s linear, color 0.3s linear;
			-o-transition: max-height 0.5s linear, color 0.3s linear;
			-ms-transition: max-height 0.5s linear, color 0.3s linear;
			transition: max-height 0.5s linear, color 0.3s linear;
		}
		.event2 input[type="radio"] + label:after {
			content: '\2714';
			color: #e5b27b;
			box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.8);
		}
		.timeline2 {
			position: relative;
			list-style-type: none;
			padding: 30px 0 50px 0;
			font-family: 'Gorditas', Arial, sans-serif;
		}

		.timeline2:before {
			content: '';
			position: absolute;
			left: 83%;
			width: 5px;
			height: 100%;
			top: 0px;
			right: 165px;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJUlEQVQIW2NkQAP/gYARWQwkAOLDBeECjEAAkkEWAKtEFwAJAgAZEBP+oM1IkwAAAABJRU5ErkJggg==);
		}
		.event2 {
			position: relative;
			margin-bottom: 80px;
			padding-left: 40px;
		}

		.thumb2 {
			position: absolute;
			right:40px; 
			width: 100px;
			height: 100px;
			box-shadow: 
				0 0 0 8px rgba(212,157,136,1), 
				0 1px 1px rgba(255,255,255,0.5);
			-webkit-transform: scale(0.8) translateX(24px);
			-moz-transform: scale(0.8) translateX(24px);
			-o-transform: scale(0.8) translateX(24px);
			-ms-transform: scale(0.8) translateX(24px);
			transform: scale(0.8) translateX(24px);
			border-radius: 50%;
			-o-border-radius: 50%;
			-webkit-border-radius: 50%;
			-ms-border-radius: 50%;
			-moz-border-radius: 50%;
			background:url("https://chengjiaoyuan.github.io/Aning/PinkCode/%E7%9C%BC%E7%9C%8B%E5%BF%83%E5%8B%BF%E5%8A%A8/icon2.png") no-repeat center center;
		}
		.button {
			background: rgba(255,255,255,.12);
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-o-border-radius: 5px;
			-ms-border-radius: 5px;
			-moz-border-border-radius: 5px;
			border: none;
			width: 60px;
			height: 25px;
			color: #FFF;
			text-shadow: 1px 1px 1px #949494;
			line-height: 25px;
			text-align: center;
			font-size: 12px;
			font-family: 'HYJKJ';
			font:'HYJKJ';
			face:'HYJKJ';
		}
		.button:hover {
			background-color:rgba(30,32,39,.32);
		}
		.ganyan::before { top: 0; left: 0; } 
	    .ganyan::after { bottom: 0; right: 0; } 
	    .ganyan i { 
	    	position: relative; 
	    	display: inline-block; 
	    	padding: 15px; 
	    	margin: 10px; 
	    	line-height: 1.1;
	    	background: #fff; 
	    	border: 2px solid #a3775e; 
	    	-moz-border-radius: 5px; 
	    	-o-box-shadow: 5px; 
	    	-ms-border-radius: 5px; 
	    	border-radius: 5px; 
	    	font-size: 12px;
	    	font-style:normal;
	    	font-family: 'HYJKJ';
			font:'HYJKJ';
			face:'HYJKJ';
	    } 
	    #cast{
			width: 570px;
			position: relative;
			left: -20px;
		}
		#cast li{
			float: left;
			height:20px;
			line-height: 20px;
			font-size: 12px;
			color: #e5b27b;
			width:265px;
			margin-top:3px;
			text-align: center;
			border-bottom: 1px dashed #ccc;
			font-family: 'HYJKJ';
			font:'HYJKJ';
			face:'HYJKJ';
		}
		.icon {
		  font-family: "iconfont";
		  font-size: 16px;
		  color:#5959a8;
		  font-style: normal;
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
		}


		.icon-bili:before {
		  content: "\e64e";
		}
		.icon-mzhan:before {
		  content: "\e6a1";
		}
		.icon-wangpan:before {
		  content: "\e64d";
		}
		.icon-ed:before {
		  content: "\e612";
		}
		.icon-star:before {
		  content: "\e652";
		  font-size: 20px;
		}
		.icon-stars:before {
		  content: "\e642";
		  color: #9cded9;
		  font-size: 14px;
		}
		@font-face {
		  font-family: 'iconfont';  /* project id 1016883 */
		  src: url('http://at.alicdn.com/t/font_1016883_td56lx879w.eot');
		  src: url('http://at.alicdn.com/t/font_1016883_td56lx879w.eot?#iefix') format('embedded-opentype'),
		  url('http://at.alicdn.com/t/font_1016883_td56lx879w.woff2') format('woff2'),
		  url('http://at.alicdn.com/t/font_1016883_td56lx879w.woff') format('woff'),
		  url('http://at.alicdn.com/t/font_1016883_td56lx879w.ttf') format('truetype'),
		  url('http://at.alicdn.com/t/font_1016883_td56lx879w.svg#iconfont') format('svg');
		}